<style>
    .navbar {
        background-color: #333; /* Change background color to dark gray */
    }
    
    .navbar-nav .nav-link {
        font-size: 25px; 
        color: #fff; /* Change font color to white */
        transition: color 0.3s; /* Smooth transition for color change */
    }
    
    .navbar-nav .nav-link:hover {
        color: #ffcc00; /* Change color on hover */
    }
    
    .navbar-nav .nav-link:active {
        color: #ff0000; /* Change color when active (clicked) */
    }
    
    .navbar-brand {
        font-size: 30px; /* Increase font size of the brand */
        color: #fff; /* Change brand (logo/text) color to white */
    }
    
    .navbar-brand:hover {
        font-size: 30px; /* Increase font size of the brand */
        color: #ffcc00; /* Change brand (logo/text) color to white */
    }
</style>
  
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home/">Movie Recommendation App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/home/" >Home</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/">Dashboard</a>
                </li>
                {%if perms.recommend.addmovie%}  
                <li class="nav-item">
                    <a class="nav-link" href="/addmovie">Add movie</a>
                </li>
                {% endif %}  
                <li class="nav-item">
                    <a class="nav-link" href="/logout/">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/register/">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
